{% extends 'base.html.twig' %}

{% block title %}SGA_CIB{% endblock %}

{% block body %}
<div class="row ml-5">
    <div class="col">{{ form(form) }} {{ form(formP) }}</div>
    
</div>


 
{% endblock %}
